    <footer>
      <!-- Footer Area Start -->
      <section id="footer-Content">
        <div class="container">
          <!-- Start Row -->
          <div class="row">

          <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              
              <div class="footer-logo">
               <img src="{{ site.base_url }}/assets/img/ndi-logo-white.png" alt="NDI Logo">
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">NDI Türkiye</h3>
                <ul class="menu">
                  <li><a href="{{ site.base_url }}">Anasayfa</a></li>
                  <li><a href="{{ site.base_url }}/about">Hakkında</a></li>
                  <li><a href="{{ site.base_url }}/program">Program Özeti</a></li>
                  <li><a href="{{ site.base_url }}/privacy-policy">Aydınlatma ve Rıza Metni</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Programlar</h3>
                <ul class="menu">
                  <li><i class="lni lni-handshake"></i><a href="{{ site.base_url }}/katiliyoruz">KATILIYORUZ</a></li>
                  <li><i class="lni lni-users"></i><a href="{{ site.base_url }}/bizdevariz">BİZ DE VARIZ</a></li>
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Sosyal Medya</h3>
                <ul class="menu">
                  {% for platform in site.data.social_media.platform %}
                  <li><a href="{{platform.link}}">{{platform.name}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
             <!-- End Col -->
              <!-- Start Col -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget contact_box">
                <h3 class="block-title">İletişim</h3>
                <strong>{{site.data.home.contact_ndi_name}}</strong>
                <p><strong>Adres:</strong> {{site.data.home.contact_address}}</p>
                <p><strong>E-Posta:</strong> <a href="mailto: {{site.data.home.contact_email_address}}">{{site.data.home.contact_email_address}}</a></p>
                <p><a href="https://www.ndi.org">www.ndi.org</a> | <a href="https://www.demworks.org/">www.demworks.org</a></p>
                {% comment %}
                <div class="subscribe-area">
                  <input type="email" class="form-control" placeholder="Enter Email">
                  <span><i class="lni-chevron-right"></i></span>
                </div>
                {% endcomment %}
              </div>
            </div>
            <style type="text/css">
              .contact_box a {
                color: #e2e2e2;
              }
            </style>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
        <!-- Copyright Start  -->
        {% comment %}
        <div class="copyright">
          <div class="container">
            <!-- Star Row -->
            <div class="row">
              <div class="col-md-12">
                <div class="site-info text-center">
                  <p>Crafted by <a href="http://uideck.com" rel="nofollow">UIdeck</a></p>
                </div>              
                
              </div>
              <!-- End Col -->
            </div>
            <!-- End Row -->
          </div>
        </div>
        {% endcomment %}
      <!-- Copyright End -->
      </section>
      <!-- Footer area End -->
      
    </footer>
