---
layout: base
---

    <!-- Header Section Start -->
    {% include header.html  %}
    <!-- Header Section End --> 

    <!-- Services Section Start -->
    {% include services.html %}
    <!-- Services Section End -->

    {% comment %}
    {% include program_summary.html %}

    
    <!-- Business Plan Section Start -->
    {% include business_plan.html %}
    <!-- Business Plan Section End -->

    <!-- Cool Fetatures Section Start -->
    {% include cool_features.html %}
    <!-- Cool Fetatures Section End --> 


    <!-- Recent Showcase Section Start -->
    {% include recent_showcase.html %}
    <!-- Recent Showcase Section End --> 

    <!-- Our Pricing Plan Section Start -->
    {% include pricing.html %}
    <!-- Our Pricing Plan Section End --> 

    <!-- Client Testimoninals Section Start -->
    {% include client_testimonials.html %}
    <!-- Client Testimoninals Section End --> 


    <!-- Team section Start -->
    {% include team.html %}
    <!-- Team section End -->


    <!-- Blog Section -->
    {% include blog.html %}
    <!-- blog Section End -->

    <!-- Contact Us Section -->
    {% include contact.html %}
    <!-- Contact Us Section End -->
    {% endcomment %}
    